* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inter font family link*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* covered by your grace font link */
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #2e2f35;
}

/* common style */
.special_font {
  font-family: "Covered By Your Grace", cursive;
  color: #009387;
  font-weight: lighter;
}
.common_width {
  width: 90%;
}
img {
  width: 100%;
}
.common_btn {
  padding: 22px 65px;
  border-radius: 15px;
  color: white;
  background-color: #ff6d2c;
  text-transform: uppercase;
  box-shadow: 3px 3px #2e2f35;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s;
}
.common_btn:hover {
  background-color: white;
  color: #ff6d2c;
  box-shadow: -3px -3px #2e2f35;
}

/* banner section */
.banner_main_section {
  background-color: #e0f8f2;
  padding: 70px 0 0px;
}
.banner {
  width: 95%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 20px;
}

.banner_left h1 {
  font-size: 82px;
  font-weight: 700;
  line-height: 90px;
}
.banner_left p {
  font-size: 20px;
  color: #58595d;
  margin: 20px 0;
}
.banner_left .banner_left_mini_container {
  display: flex;
  gap: 30px;
  align-items: center;
}
.banner_left i {
  color: #fdc639;
  font-size: 18px;
}
.banner_left_mini_container > div > p {
  font-size: 16px;
  margin: 0px;
  color: #2e2f35;
  margin-top: 6px;
}
.banner_right {
  position: relative;
}
.banner_right img:last-child {
  position: absolute;
  top: -22px;
  left: -12px;
}

/* trusted brand section */
.trusted_container {
  width: 90%;
  margin: 90px auto;
}
.trusted_container h2 {
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 55px;
}
.trusted_mini_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
}
.trusted_container > div {
  text-align: center;
}
.trusted_mini_container > div > div {
  margin-bottom: 15px;
}
.trusted_mini_container > div > img {
  max-width: 170px;
  height: auto;
}
.scotch_foter_trusted_image > img {
  width: 60px;
}
/* direct mail section */
.direct_mail_section {
  background-color: #f3fafa;
  padding: 100px 0;
}
.direct_mail_container {
  width: 90%;
  margin: 0 auto;
}
.direct_mail_container h2 {
  font-size: 60px;
  text-align: center;
  line-height: 73px;
  margin-bottom: 58px;
}
.direct_mail_container > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.direct_mini_container > div {
  text-align: center;
}
.direct_mail_container > div h3 {
  font-size: 60px;
  margin-bottom: 7px;
}
.direct_mail_container > div p {
  font-size: 14px;
  color: #58595d;
  font-weight: bold;
}

.direct_mail_perchantage_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.direct_mail_perchantage_container {
  margin-bottom: 20px;
}
.direct_mail_perchantage_container div:first-child {
  min-height: 200px;
  padding: 20px;
  display: flex;
  background-color: #ff6d2d;
  border-radius: 8px;
  flex-direction: column;
  justify-content: end;
  color: white;
  box-shadow: 5px 5px 0 #2e2f35;
}
.direct_mail_perchantage_container div:last-child {
  align-self: flex-end;
  min-height: 20px;
  padding: 10px 25px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: end;
  background-color: #e0f8f2;
  box-shadow: 5px 5px 0 #2e2f35;
}
.direct_mail_perchantage_container h4 {
  font-size: 25px;
}
.direct_mail_perchantage_container p {
  font-size: 18px;
  font-weight: bold;
  font-weight: bold;
}
.direct_mail_perchantage_container div:first-child p {
  color: white;
}
/* postcards container */
.postcards_main_container {
  background-color: #fdf3ea;
  padding: 100px 0;
}
.postcards_container {
  margin: 0 auto;
}
.postcards_container h2 {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
}
.post_cards_mini_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 150px;
}
.post_cards_mini_container h3 {
  font-size: 50px;
  line-height: 59px;
}
.post_cards_mini_container > div > p {
  font-size: 18px;
  color: #58595d;
  max-width: 485px;
  margin: 20px 0 30px;
  line-height: 30px;
}
.testimonial_card {
  position: relative;
  border: 2px solid #d5cbc3;
  border-radius: 10px;
  padding: 30px;
}
.quote_icon {
  color: #ff6d2c;
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  left: 20px;
  top: -26px;
  padding: 0 10px;
  background: #fdf3ea;
  height: 50px;
}
.testimonial_card p {
  margin-bottom: 10px;
  font-size: 16px;
  font-style: italic;
}
.testimonial_footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.testimonial_footer img {
  max-width: 53px;
}
.testimonial_footer > p {
  margin: 0;
  font-size: 14px;
  color: #a89b90;
}

/* brand section */
.bradnContainer {
  margin: 100px auto;
}
.bradnContainer h2:first-child {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
}
.brand_highlight {
  font-size: 65px;
  text-align: center;
  line-height: 65px;
}
.brand_mini_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 60px;
}
.brand_mini_container > div {
  padding: 50px;
  text-align: center;
  background-color: #fdf3ea;
  border-radius: 10px;
}
.brand_mini_container > div > h3 {
  font-size: 28px;
  margin: 20px 0;
}
.brand_mini_container > div > p {
  color: #58595d;
}

.brand_mini_container > div:nth-child(2) {
  background-color: #e0f8f2;
}
.brand_mini_container > div:nth-child(3) {
  background-color: #eeecff;
}
.brand_mini_container > div:nth-child(4) {
  background-color: #d9f2f7;
}
.brand_mini_container > div:last-child {
  background-color: #f1f1f1;
}

/* how work section */
.how_works_container {
  background-color: #e3f8f8;
  padding: 70px 0;
}
.how_works_mini_container {
  margin: 0 auto;
}
.how_works_mini_container h2 {
  text-align: center;
  font-size: 55px;
  line-height: 70px;
}
.how_works_mini_container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.how_works_mini_container > div > div > div {
  margin: 30px 0;
}
.main_content_how_works {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main_content_how_works h3 {
  font-size: 40px;
}
.main_content_how_works h4 {
  font-size: 35px;
}

.first_how_work > h3 {
  color: #88d0cb;
}
.first_how_work > h4 {
  color: #9ba8aa;
}
.second_how_work > h3 {
  color: #88d0cb;
}
.second_how_work > h4 {
  color: #9ba8aa;
}
.fourth_how_works > h3 {
  color: #88d0cb;
}
.fourth_how_works > h4 {
  color: #9ba8aa;
}

.third_how_work h4 {
  margin-bottom: 4px;
}
.third_how_work p {
  color: #58595d;
  font-size: 19px;
}
/* ............line ........... */
.how_works_container_left {
  position: relative;
}
.line_how_work {
  width: 2px;
  height: 115px;
  background-color: #a0cdcd;
  position: absolute;
  bottom: 59px;
  left: 22px;
}
.line_how_work_child {
  position: absolute;
  width: 3px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  height: 65%;
  background-color: #2e2f35;
}
.third_how_work {
  align-items: start;
}
.third_how_work > div {
  padding-top: 10px;
}

/* campaigns section */
.campaigns_main_container {
  padding: 80px 0;
  background-color: #eeecff;
}
.campaigns_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 55px;
}
.campaing_left_container {
  text-align: center;
}
.campaing_left_container img {
  max-width: 100%;
}

.campaing_right_container h2 {
  font-size: 50px;
  color: #2e2f35;
}
.campaing_right_container > p {
  font-size: 18px;
  color: #58595d;
  margin: 30px 0;
}
.campaing_right_up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.campaing_right_container > div h3 {
  font-size: 25px;
  color: #2e2f35;
}
.campaing_right_container > div > p {
  font-size: 14px;
  color: #58595d;
}
.campaing_right_container button {
  background-color: white;
  color: #2e2f35;
  font-size: 14px;
  text-transform: uppercase;
}
.campaing_right_container button:hover {
  color: #2e2f35;
}
.campaing_right_footer {
  margin-top: 30px;
  border-bottom: 1px solid #e6e4f7;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.campaing_right_footer > div {
  padding: 20px;
}
.campaing_right_footer > div:first-child {
  border-bottom: 1px solid #009387;
}

/* risk free section */
.riskfree {
  background-color: #ff6d2c;
  color: white;
}
.risk_free_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}
.risk_free_left > h2 {
  font-size: 60px;
}

.risk_para {
  font-size: 18px;
  margin: 10px 0 20px;
}

.risk_free_container button {
  background-color: white;
  color: #2e2f35;
  font-size: 14px;
  text-transform: uppercase;
}

.risk_free_container img {
  max-width: 596px;
  display: block;
}
.risk_free_container button:hover {
  color: #2e2f35;
}
.risk_free_left > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.risk_free_left > div > div > p {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
.risk_free_left > p:last-child {
  font-size: 14px;
  color: rgb(235, 226, 226);
  margin-top: 20px;
}

/* trends section */
.trends_section {
  padding: 70px 0;
  background: linear-gradient(to top, #f3fafa, white);
}
.trends_container {
  margin: 0 auto;
}
.trends_container h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}
.trends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.trend h3 {
  font-size: 28px;
  line-height: 36px;
  margin-top: 20px;
}
